/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}
p {
  font-size: 18px;
  font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
  position: relative;
  background: url(../img/paris.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
  color:#fff;
  text-shadow: 3px 3px #000;
}
.header h3 {
  font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
  color:#fff;
  text-shadow: 2px 2px #000;
  font-size: 32px;
}
/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/bm.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.callout h1 {
  text-shadow: 3px 3px #000;

}

/* Portfolio */


.portfolio {
  padding: 50px 0;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  rgba(84,84,84,0) 1%, rgba(84,84,84,0.65) 50%, rgba(84,84,84,0.65) 51%, rgba(224,224,224,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(84,84,84,0)), color-stop(50%,rgba(84,84,84,0.65)), color-stop(51%,rgba(84,84,84,0.65)), color-stop(100%,rgba(224,224,224,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(84,84,84,0) 1%,rgba(84,84,84,0.65) 50%,rgba(84,84,84,0.65) 51%,rgba(224,224,224,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(84,84,84,0) 1%,rgba(84,84,84,0.65) 50%,rgba(84,84,84,0.65) 51%,rgba(224,224,224,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(84,84,84,0) 1%,rgba(84,84,84,0.65) 50%,rgba(84,84,84,0.65) 51%,rgba(224,224,224,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(84,84,84,0) 1%,rgba(84,84,84,0.65) 50%,rgba(84,84,84,0.65) 51%,rgba(224,224,224,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00545454', endColorstr='#a6e0e0e0',GradientType=0 ); /* IE6-8 */

}
.portfolio p {
  font-size: 125%
  }

.portfolio-item {
  margin-bottom: 25px;
}
.portfolio-text {
  height: 400px;
  margin-bottom: 25px;
  vertical-align: middle;
}

.img-portfolio {
  margin: 0 auto;
  height: 400px;
  width:400px;
  box-shadow: 0 4px 5px -3px #000;
  border-radius: 4px;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
  width:100%;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  display: table;
  width: 100%;
  padding: 75px 0;


}



.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../img/paris.png) no-repeat center center scroll; 
  }

  .callout {
	background: url(../img/bm.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }
  .portfolio-text {
  height: auto;
}

}
